#container{
    display: flex;
    margin: auto;
    flex-direction: column;
}

.rows {
        display: flex;
}

.cells {
    border: 0.5px solid black;
    display: flex;
  }
  
.reset{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}