body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{
    display: flex;
    margin: auto;
    flex-direction: column;
}

.rows {
        display: flex;
}

.cells {
    background-color: white;
    border: 0.5px solid black;
    display: flex;
  }
  
.reset{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}